$breakpoint-lg: 1456px;
$breakpoint-lg-2: 1280px;
$breakpoint-md: 1111px;
$breakpoint-md-2: 992px;
$breakpoint-sm: 896px;
$breakpoint-xs: 567px;
$breakpoint-xs-1: 500px;
$breakpoint-xs-2: 340px;
$mobile: 320px;
$tablet: 960px;
$desktop-sm: 1280px;
$desktop: 1920px;

$min-content-width-desktop: 872px;

$indent-col-lg: 40px;
$indent-col-md: 40px;
$indent-col-sm: 20px;
$indent-col-xs: 20px;

$cols-total: 12;
$site-paddings: 20px;
