$color-white: #ffffff;
$color-black: #000000;
$color-text: #181F26;
$color-grey-text: #39434D;
$color-gold:  #A3876E;
$color-shadow: #E4E7EB;

$brand-color-1: #09151E; 
$color-text-regular: #242B33;
$color-text-shady: #697480;
$color-shady-2: #848E99;
$color-grey: #C0C6CC;
$color-link: #505B66;
$color-bg-grey: #E0E2E6;
$color-success: #54E27C;
$color-error: #FF4C4C;
$color-active-element: #B59985;
$color-active-element-2: #A3876E;