$font-family-default: 'SussieIntl', sans-serif;
$font-family-special: 'ObjectSans', sans-serif;

$font-size-default: 16px;
$line-height-default: 1.5;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$transition-link: color 0.2s linear